[Unit]
Description=Zabbix Proxy
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/loacl/zabbix/sbin/zabbix_proxy
PIDFile=/tmp/zabbix_proxy.pid
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
